/* helper */

/*doc
---
title: clearfix
name: clearfix
category: helper
---

floatによる回りこみ解除クラス

*/
.clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

/*doc
---
title: grid system
name: grid system
category: helper
---

CSS Gridを使ったgrid system関連
IE11対応のため、複数行ある場合は利用不可
カラムになる要素の親要素に指定
クラス名の数値はカラム数を指定

.grid-cols-1〜.grid-cols-12　…　SP・PC共通のカラム設定
.grid-cols-xs-1〜.grid-cols-xs-12　…　SPのカラム設定
.grid-cols-sm-1〜.grid-cols-sm-12　…　PCのカラム設定

*/
[class^="grid-cols-"] {
  box-sizing: border-box;
  max-width: $container-max-width + $container-outer-padding * 2;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  padding-right: $container-outer-padding;
  padding-left: $container-outer-padding;
}
@for $i from 1 through $grid-column {
  .grid-cols-#{$i} {
    display: grid;
    grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    column-gap: $grid-gap;
  }
}
@include for-sp {
  @for $i from 1 through $grid-column {
    .grid-cols-xs-#{$i} {
      display: grid;
      grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
      grid-template-rows: repeat(1, minmax(0, 1fr));
      column-gap: $grid-gap;
    }
  }
}
@include for-pc {
  @for $i from 1 through $grid-column {
    .grid-cols-sm-#{$i} {
      display: grid;
      grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
      grid-template-rows: repeat(1, minmax(0, 1fr));
      column-gap: $grid-gap;
    }
  }
}

/*doc
---
title: display changer
name: display changer
category: helper
---

表示調整用のクラス

*/
.spOnly {
  @include for-pc {
    display: none !important;
  }
}
.pcOnly {
  @include for-sp {
    display: none !important;
  }
}
