/* typography */
html {
  color: $font-color--base;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin: 0;
  word-wrap: break-word;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.defs { display: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family--heading);
  font-size: 1.25rem;
  line-height: var(--line-height--heading);
  margin: 0 0 var(--spacing--small);
}

p {
  margin: 0 0 var(--spacing--small);
}

a {
  color: $action-color;
  text-decoration-skip-ink: auto;
  transition: color var(--duration) var(--timing);
  text-decoration: none;

  &:visited {
    color: $purple;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: var(--border);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: var(--spacing) 0;
}

// アニメーションが不要な人向け
@media(prefers-reduced-motion:reduce){
  *,
  *::before,
  *::after{
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    transition-delay: 0s !important;
    transition-duration: 1ms !important;
  }
}

// icon SVG用のデフォルトスタイル
// 縦横比が1:1ではないものは別途widthを指定する必要があります
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
